* { margin: 0px; padding: 0px; }
html { }
body { font-size: 12px; background-color: #DDD; text-align: center; }

#canvas { width: 640px; height: 360px; outline: 1px solid #BBB; background-color: white; margin: 0 auto; }